.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #4BD759;
    padding: 10px;
}

.menuButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    width: 80%;
}

.menuButtons button{
    min-width: fit-content;
    width: 15%;
}

button{
    background-color: #0C0A2B;
    color: white;
    border: 1px solid #4BD759;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
}

button.logOutButton{
    background-color: #730D2B;
}

button.usersButton{
    background-color: #330B42;
}

button.exchangingButton{
    background-color: #2A1F0A;
}

button.historyButton{
    background-color: #0A242A;
}

button.withdrawalButton{
    background-color: #2C361B;
}

button.depositButton{
    background-color: #0B3407;
}